<html>
<head>
  <title>dashboard</title>
  <style type="text/css">
    body { margin:0; }
  </style>
    <meta http-equiv="refresh" content="21600;URL='file:///home/drew/dashboard.html'"><!-- 6 hours -->
</head>
<body bgcolor='#444444'>

<!-- custom dns in pihole and req local network to make these work -->
<iframe src="https://drew-serv.nm1.invadelabs.com/nagios/cgi-bin/status.cgi?host=all&sorttype=2&sortoption=3" style="border:none; width:40%; height:100%; float:left;" scrolling="no"></iframe>
<iframe src="https://ha.invadelabs.com/lovelace-zzdashboard/grid" style="border:none; width:60%; height:70%; float:right; overflow:hidden;" scrolling="no"></iframe>
<iframe src="https://cgm.invadelabs.com" style="border:none; width:60%; height:30%; float:right;" scrolling="no"></iframe>

</body>
</html>