#!/bin/bash

sleep 2 && DISPLAY=:0.0 chromium-browser --kiosk \
                                         --window-position="0,0" \
                                         --app="file:///home/drew/dashboard.html"
