filebeat.prospectors:
- paths:
  - /var/log/apache2/*access*.log
  tags: [apache_access]
  # should look like ^cgm.invadelabs.com:443 172\.169\.172\.169\.*
  exclude_lines:
    - {{ home_ip['content'] | b64decode | trim | regex_replace('\.', '\\.') | regex_replace('$', '\\.*') | regex_replace('^', '^cgm.invadelabs.com:443 ')  }}
- paths:
  - /var/log/apache2/*error*.log
  tags: [apache_error]

  recursive_glob.enabled: true

filebeat.config.modules:
  path: ${path.config}/modules.d/*.yml

setup.template.settings:
  index.number_of_shards: 1

output.logstash:
  # The Logstash hosts
  hosts: ["localhost:5001"]
