filebeat.prospectors:
- type: docker
  tags: docker
  containers.ids:
    - '*'
  processors:
  - add_docker_metadata: ~

- type: log
  tags: [apache_access]
  paths:
    - /var/log/httpd/*access*.log
- type: log
  tags: [apache_error]
  paths:
    - /var/log/httpd/*error*.log

# only logstash was enabled
filebeat.config.modules:
  path: ${path.config}/modules.d/*.yml

setup.template.settings:
  index.number_of_shards: 1

output.logstash:
  # The Logstash hosts
  hosts: ["192.168.1.125:5000"]

logging.level: warning
