filebeat.prospectors:
- type: docker
  tags: docker
  containers.ids:
    - '*'
  processors:
  - add_docker_metadata: ~

- type: log
  tags: [apache_access]
  paths:
    - /var/log/nginx/*access*.log
  exclude_files:
    - '/var/log/nginx/kibana.*access.*.log'
  # ignore dashboard readonly client access logs
  exclude_lines:
    - ^192\.168\.1\.(112|140|166)\.*
    - ^172\.17\.0\.1\.*
  recursive_glob.enabled: true

- type: log
  tags: [apache_error]
  paths:
    - /var/log/nginx/*error*.log
  exclude_files:
    - '/var/log/nginx/kibana.*error.*.log'
  recursive_glob.enabled: true

# only logstash was enabled
filebeat.config.modules:
  path: ${path.config}/modules.d/*.yml

setup.template.settings:
  index.number_of_shards: 1

output.logstash:
  # The Logstash hosts
  hosts: ["{{elasticsearch_host}}:5000"]

logging.level: warning
