filebeat.prospectors:
- paths:
  - /var/lib/docker/containers/*/*.log
  tags: [docker]

  recursive_glob.enabled: true

filebeat.config.modules:
  path: ${path.config}/modules.d/*.yml

setup.template.settings:
  index.number_of_shards: 3

output.logstash:
  # The Logstash hosts
  hosts: ["192.168.1.125:5000"]
