deb [signed-by=/usr/share/keyrings/azlux-archive-keyring.gpg] https://nexus.invadelabs.com/repository/log2ram/ {{ ansible_distribution_release }} main
# deb [signed-by=/usr/share/keyrings/azlux-archive-keyring.gpg] http://packages.azlux.fr/debian/ {{ ansible_distribution_release }} main
