deb [signed-by=/usr/share/keyrings/azlux-archive-keyring.gpg] https://nexus.invadelabs.com/repository/log2ram/ bookworm main
# deb [signed-by=/usr/share/keyrings/azlux-archive-keyring.gpg] http://packages.azlux.fr/debian/ bookworm main
