deb [signed-by=/usr/share/keyrings/ntop-archive-keyring.gpg] https://nexus.invadelabs.com/repository/ntop-bookworm/ arm64/
deb [signed-by=/usr/share/keyrings/ntop-archive-keyring.gpg] https://nexus.invadelabs.com/repository/ntop-bookworm/ all/

#deb [signed-by=/usr/share/keyrings/ntop-archive-keyring.gpg] https://packages.ntop.org/apt/bookworm_pi/ arm64/
#deb [signed-by=/usr/share/keyrings/ntop-archive-keyring.gpg] https://packages.ntop.org/apt/bookworm_pi/ all/
