deb {{ nexus_repo }}/raspberrypios-debian-{{ ansible_distribution_release }}/ {{ ansible_distribution_release }} main
# deb http://archive.raspberrypi.org/debian/ {{ ansible_distribution_release }} main
# Uncomment line below then 'apt-get update' to enable 'apt-get source'
# deb-src http://archive.raspberrypi.org/debian/ {{ ansible_distribution_release }} main
