<VirtualHost *:80>
  Protocols h2 http/1.1
  ServerName drew.invadelabs.com
  ServerAdmin drewwiki@invadelabs.com
  DocumentRoot /var/www/drew.invadelabs.com

  <Directory /var/www/drew.invadelabs.com>
      Options Indexes FollowSymLinks
      AllowOverride All
      Require all granted
  </Directory>

  ErrorLog ${APACHE_LOG_DIR}/drew.invadelabs.com.error.log
  CustomLog ${APACHE_LOG_DIR}/drew.invadelabs.com.access.log vhost_combined

  RewriteEngine On
  RewriteCond %{HTTPS} !=on
  RewriteRule ^/?(.*) https://%{SERVER_NAME}/$1 [R,L]

  RewriteCond %{SERVER_NAME} =drew.invadelabs.com
  RewriteRule ^ https://%{SERVER_NAME}%{REQUEST_URI} [END,NE,R=permanent]
</VirtualHost>

<IfModule mod_ssl.c>
<VirtualHost *:443>
  Protocols h2 http/1.1
  ServerName drew.invadelabs.com
  ServerAdmin drewwiki@invadelabs.com
  DocumentRoot /var/www/drew.invadelabs.com

  <Directory /var/www/drew.invadelabs.com>
      Options Indexes FollowSymLinks
      AllowOverride All
      Require all granted
  </Directory>

  ErrorLog ${APACHE_LOG_DIR}/drew.invadelabs.com.secure.error.log
  CustomLog ${APACHE_LOG_DIR}/drew.invadelabs.com.secure.access.log vhost_combined

  Include /etc/letsencrypt/options-ssl-apache.conf

  RewriteEngine On

  # re-write /wiki/index.php/Main_Page to /index.php/Main_Page
  # used to rewrite any old links
    RewriteRule ^/wiki/(.*) https://%{SERVER_NAME}/$1 [R,L]

  ## Short url for wiki pages
  #RewriteRule ^/?wiki(/.*)?$ %{DOCUMENT_ROOT}/index.php [L]
  #
  ## Redirect / to Main Page
  #RewriteRule ^/*$ %{DOCUMENT_ROOT}/index.php [L]

  RewriteCond %{DOCUMENT_ROOT}%{REQUEST_URI} !-f
  RewriteCond %{DOCUMENT_ROOT}%{REQUEST_URI} !-d
  RewriteRule ^(.*)$ %{DOCUMENT_ROOT}/index.php [L]

  RewriteCond %{DOCUMENT_ROOT}%{REQUEST_URI} !-f
  RewriteCond %{DOCUMENT_ROOT}%{REQUEST_URI} !-d
  RewriteRule ^/?images/thumb/[0-9a-f]/[0-9a-f][0-9a-f]/([^/]+)/([0-9]+)px-.*$ %{DOCUMENT_ROOT}/thumb.php?f=$1&width=$2 [L,QSA,B]

  RewriteCond %{DOCUMENT_ROOT}%{REQUEST_URI} !-f
  RewriteCond %{DOCUMENT_ROOT}%{REQUEST_URI} !-d
  RewriteRule ^/?images/thumb/archive/[0-9a-f]/[0-9a-f][0-9a-f]/([^/]+)/([0-9]+)px-.*$ %{DOCUMENT_ROOT}/thumb.php?f=$1&width=$2&archived=1 [L,QSA,B]

  # from mozzila observatory https://mozilla.github.io/server-side-tls/ssl-config-generator/
  Header always set Strict-Transport-Security "max-age=63072000"

  # https://infosec.mozilla.org/guidelines/web_security#content-security-policy
  # Header set Content-Security-Policy "default-src https:"
#  Header set Content-Security-Policy "default-src https:; \
# font-src 'self'; \
# img-src 'self'; \
# object-src 'none'; \
# script-src 'self'; \
# style-src 'self'; \
# base-uri 'self'; \
# form-action 'self'; \
# frame-ancestors 'none';"

  # https://infosec.mozilla.org/guidelines/web_security#x-content-type-options
  Header set X-Content-Type-Options "nosniff"

  # https://infosec.mozilla.org/guidelines/web_security#x-frame-options
  Header set X-Frame-Options "DENY"

  # https://infosec.mozilla.org/guidelines/web_security#x-xss-protection
  Header set X-XSS-Protection "1; mode=block"

  # https://scotthelme.co.uk/a-new-security-header-referrer-policy/
  Header set Referrer-Policy "strict-origin-when-cross-origin"

  SSLCertificateFile /etc/letsencrypt/live/invadelabs.com-0001/fullchain.pem
  SSLCertificateKeyFile /etc/letsencrypt/live/invadelabs.com-0001/privkey.pem
</VirtualHost>

</IfModule>
