<VirtualHost *:80>
  Protocols h2 http/1.1
  ServerName invadelabs.com
  ServerAdmin drew@invadelabs.com
  DocumentRoot /var/www/invadelabs.com

  <Directory /var/www/invadelabs.com>
      Options Indexes FollowSymLinks
      AllowOverride All
      Require all granted
  </Directory>

  ErrorLog ${APACHE_LOG_DIR}/invadelabs.com.error.log
  CustomLog ${APACHE_LOG_DIR}/invadelabs.com.access.log vhost_combined

  RewriteEngine On
  RewriteCond %{HTTPS} !=on
  RewriteRule ^/?(.*) https://%{SERVER_NAME}/$1 [R,L]
  RewriteCond %{SERVER_NAME} =invadelabs.com
  RewriteRule ^ https://%{SERVER_NAME}%{REQUEST_URI} [END,NE,R=permanent]
</VirtualHost>

<IfModule mod_ssl.c>

<VirtualHost *:443>
  Protocols h2 http/1.1
  ServerName invadelabs.com
  ServerAdmin drew@invadelabs.com
  DocumentRoot /var/www/invadelabs.com

  <Directory /var/www/invadelabs.com>
      Options Indexes FollowSymLinks
      AllowOverride All
      Require all granted
  </Directory>

  SetEnv DEPLOY_ENV {{ apache_env_vars.results[0].stdout }}
  SetEnv EMAIL_ENV {{ apache_env_vars.results[1].stdout }}
  SetEnv SLACK_ENV {{ apache_env_vars.results[2].stdout }}

  ErrorLog ${APACHE_LOG_DIR}/invadelabs.com.secure.error.log
  CustomLog ${APACHE_LOG_DIR}/invadelabs.com.secure.access.log vhost_combined

  Include /etc/letsencrypt/options-ssl-apache.conf

  # https://mozilla.github.io/server-side-tls/ssl-config-generator/
  Header always set Strict-Transport-Security "max-age=63072000; includeSubDomains; preload"

  # https://infosec.mozilla.org/guidelines/web_security#content-security-policy
  Header set Content-Security-Policy "default-src 'unsafe-inline' 'unsafe-eval' https: data:"
  # Header set Content-Security-Policy "default-src https:; \
# font-src 'self' https://fonts.googleapis.com https://fonts.gstatic.com https://stackpath.bootstrapcdn.com; \
# img-src 'self' https://www.google-analytics.com; \
# object-src 'none'; \
# script-src 'self' https://www.google-analytics.com https://www.googletagmanager.com https://code.jquery.com https://cdnjs.cloudflare.com https://stackpath.bootstrapcdn.com; \
# style-src 'self' https://fonts.googleapis.com https://stackpath.bootstrapcdn.com; \
# base-uri 'self'; \
# form-action 'self'; \
# frame-ancestors 'none';"

  # https://infosec.mozilla.org/guidelines/web_security#x-content-type-options
  Header set X-Content-Type-Options "nosniff"

  # https://infosec.mozilla.org/guidelines/web_security#x-frame-options
  Header set X-Frame-Options "DENY"

  # https://infosec.mozilla.org/guidelines/web_security#x-xss-protection
  Header set X-XSS-Protection "1; mode=block"

  # https://scotthelme.co.uk/a-new-security-header-referrer-policy/
  Header set Referrer-Policy "strict-origin-when-cross-origin"

  Header set Expect-CT "max-age=0, report-uri='https://invadelabs.report-uri.com/r/d/ct/reportOnly'"

  SSLCertificateFile /etc/letsencrypt/live/invadelabs.com-0001/fullchain.pem
  SSLCertificateKeyFile /etc/letsencrypt/live/invadelabs.com-0001/privkey.pem
</VirtualHost>

</IfModule>
