<VirtualHost *:80>
  ServerName www.invadelabs.com
  ServerAdmin www@invadelabs.com
  #DocumentRoot /var/www/www.invadelabs.com

  ErrorLog ${APACHE_LOG_DIR}/www.invadelabs.com.error.log
  CustomLog ${APACHE_LOG_DIR}/www.invadelabs.com.access.log combined

  RewriteEngine On
  RewriteCond %{HTTPS} !=on
  RewriteRule ^/?(.*) https://invadelabs.com/$1 [R,L]

RewriteCond %{SERVER_NAME} =www.invadelabs.com
RewriteRule ^ https://%{SERVER_NAME}%{REQUEST_URI} [END,NE,R=permanent]
</VirtualHost>

<IfModule mod_ssl.c>
<VirtualHost *:443>
  ServerName www.invadelabs.com
  ServerAdmin www@invadelabs.com
  #DocumentRoot /var/www/www.invadelabs.com

  ErrorLog ${APACHE_LOG_DIR}/www.invadelabs.com-secure.error.log
  CustomLog ${APACHE_LOG_DIR}/www.invadelabs.com.access-secure.log combined

  Include /etc/letsencrypt/options-ssl-apache.conf

  RewriteEngine On
  RewriteRule ^/?(.*) https://invadelabs.com/$1 [R,L]

  SSLCertificateFile /etc/letsencrypt/live/invadelabs.com-0001/fullchain.pem
  SSLCertificateKeyFile /etc/letsencrypt/live/invadelabs.com-0001/privkey.pem
</VirtualHost>

</IfModule>
