server {
    listen 80;
    listen [::]:80;
    server_name cgm.invadelabs.com;
    return 301 https://$host$request_uri;
    access_log /var/log/nginx/cgm.invadelabs.com.access.log main;
    error_log /var/log/nginx/cgm.invadelabs.com.error.log error;
}

server {
    listen 443 ssl http2;
    listen [::]:443 ssl http2;
    server_name  cgm.invadelabs.com;

    access_log /var/log/nginx/cgm.invadelabs.com.secure.access.log main;
    error_log /var/log/nginx/cgm.invadelabs.com.secure.error.log error;

    # allow  192.168.1.0/24;
    # deny   all;

    location / {
        proxy_pass       http://172.17.0.1:1337/;
        proxy_set_header X-Forwarded-Host $host:$server_port;
        proxy_set_header X-Forwarded-Server $host;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header Host $http_host; # https://github.com/cgm/grafana/issues/45117#issuecomment-1033842787
    }

    location /socket.io {
        proxy_pass       http://172.17.0.1:1337;
        proxy_set_header X-Forwarded-Host $host:$server_port;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-Server $host;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection  "upgrade";
        proxy_set_header Host $host;
    }

include ssl-inv-default.conf;
}
