server {
    listen 80;
    listen [::]:80;
    server_name ntopng.invadelabs.com;
    return 301 https://$host$request_uri;
    access_log /var/log/nginx/ntopng.invadelabs.com.access.log main;
    error_log /var/log/nginx/ntopng.invadelabs.com.error.log error;
}

server {
    listen 443 ssl http2;
    listen [::]:443 ssl http2;
    server_name  ntopng.invadelabs.com;

    access_log /var/log/nginx/ntopng.invadelabs.com.secure.access.log main;
    error_log /var/log/nginx/ntopng.invadelabs.com.secure.error.log error;

    allow  192.168.1.0/24;
    deny   all;

    location / {
        proxy_pass       http://192.168.1.50:3000/;
        proxy_set_header X-Forwarded-Host $host:$server_port;
        proxy_set_header X-Forwarded-Server $host;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    }

    include ssl-inv-default.conf;
}
