<VirtualHost *:80>
  <Location />
    Require ip {{localnet_cidr}}
  </Location>

  Protocols http/1.1
  ServerName docker.invadelabs.com
  ServerAdmin drew@invadelabs.com

  ErrorLog logs/docker.invadelabs.com.error.log
  CustomLog logs/docker.invadelabs.com.access.log vhost_combined

  RewriteEngine On
  RewriteCond %{HTTPS} !=on
  RewriteRule ^/?(.*) https://%{SERVER_NAME}/$1 [R,L]
  RewriteCond %{SERVER_NAME} =invadelabs.com
  RewriteRule ^ https://%{SERVER_NAME}%{REQUEST_URI} [END,NE,R=permanent]
</VirtualHost>

<IfModule mod_ssl.c>

<VirtualHost *:443>
  <Location />
    Require ip {{localnet_cidr}}
  </Location>

  Protocols http/1.1
  ServerName docker.invadelabs.com
  ServerAdmin drew@invadelabs.com
  DocumentRoot /var/www/html

  ErrorLog logs/docker.invadelabs.com.secure.error.log
  CustomLog logs/docker.invadelabs.com.secure.access.log vhost_combined

  ProxyPreserveHost On
  ProxyRequests off
  ProxyPass / http://127.0.0.1:8181/ nocanon
  ProxyPassReverse / http://127.0.0.1:8181/
  RequestHeader set X-Forwarded-Proto "https"

  Include /etc/letsencrypt/options-ssl-apache.conf

  SSLCertificateFile /etc/letsencrypt/live/invadelabs.com-0001/fullchain.pem
  SSLCertificateKeyFile /etc/letsencrypt/live/invadelabs.com-0001/privkey.pem
</VirtualHost>

</IfModule>
