<VirtualHost *:80>
  Protocols h2 http/1.1
  ServerName ha.invadelabs.com
  ServerAdmin drew@invadelabs.com

  ErrorLog logs/ha.invadelabs.com.error.log
  CustomLog logs/ha.invadelabs.com.access.log vhost_combined

  RewriteEngine On
  RewriteCond %{HTTPS} !=on
  RewriteRule ^/?(.*) https://%{SERVER_NAME}/$1 [R,L]
  RewriteCond %{SERVER_NAME} =invadelabs.com
  RewriteRule ^ https://%{SERVER_NAME}%{REQUEST_URI} [END,NE,R=permanent]
</VirtualHost>

<IfModule mod_ssl.c>

<VirtualHost *:443>
  Protocols h2 http/1.1
  ServerName ha.invadelabs.com
  ServerAdmin drew@invadelabs.com

  ErrorLog logs/ha.invadelabs.com.secure.error.log
  CustomLog logs/ha.invadelabs.com.secure.access.log vhost_combined

  ProxyPreserveHost On
  ProxyRequests off
  ProxyPass / http://192.168.1.125:8123
  ProxyPassReverse / http://192.168.1.125:8123
  ProxyPass /api/websocket ws://192.168.1.125:8123/api/websocket
  ProxyPassReverse /api/websocket ws://192.168.1.125:8123/api/websocket

  RewriteEngine on
  RewriteCond %{HTTP:Upgrade} =websocket [NC]
  RewriteRule /(.*)  ws://192.168.1.125:8123/$1 [P,L]
  RewriteCond %{HTTP:Upgrade} !=websocket [NC]
  RewriteRule /(.*)  http://192.168.1.125:8123/$1 [P,L]

  Include /etc/letsencrypt/options-ssl-apache.conf

  SSLCertificateFile /etc/letsencrypt/live/invadelabs.com-0001/fullchain.pem
  SSLCertificateKeyFile /etc/letsencrypt/live/invadelabs.com-0001/privkey.pem
</VirtualHost>

</IfModule>
