<VirtualHost *:80>
  <Location />
    Require ip 192.168.1.0/24
  </Location>

  Protocols h2 http/1.1
  ServerName kibana.invadelabs.com
  ServerAdmin drew@invadelabs.com

  ErrorLog logs/kibana.invadelabs.com.error.log
  CustomLog logs/kibana.invadelabs.com.access.log vhost_combined

  RewriteEngine On
  RewriteCond %{HTTPS} !=on
  RewriteRule ^/?(.*) https://%{SERVER_NAME}/$1 [R,L]
  RewriteCond %{SERVER_NAME} =invadelabs.com
  RewriteRule ^ https://%{SERVER_NAME}%{REQUEST_URI} [END,NE,R=permanent]
</VirtualHost>

<IfModule mod_ssl.c>

<VirtualHost *:443>
  <Location />
    Require ip 192.168.1.0/24
  </Location>

  Protocols h2 http/1.1
  ServerName kibana.invadelabs.com
  ServerAdmin drew@invadelabs.com
  DocumentRoot /var/www/html

  ErrorLog logs/kibana.invadelabs.com.secure.error.log
  CustomLog logs/kibana.invadelabs.com.secure.access.log vhost_combined

  ProxyPreserveHost On
  ProxyRequests off

  ProxyPass / http://127.0.0.1:5601/
  ProxyPassReverse / http://127.0.0.1:5601/

  Include /etc/letsencrypt/options-ssl-apache.conf

  SSLCertificateFile /etc/letsencrypt/live/invadelabs.com-0001/fullchain.pem
  SSLCertificateKeyFile /etc/letsencrypt/live/invadelabs.com-0001/privkey.pem
</VirtualHost>

</IfModule>
