if $programname == "systemd" and (
$msg contains "Starting User Manager for UID 0" or
$msg contains "Reached target Paths" or
$msg contains "Starting D-Bus User Message Bus Socket" or
$msg contains "Reached target Timers" or
$msg contains "Listening on D-Bus User Message Bus Socket" or
$msg contains "Reached target Sockets" or
$msg contains "Reached target Basic System" or
$msg contains "Reached target Default" or
$msg contains "Startup finished in 35ms" or
$msg contains "Started User Manager for UID 0" or
$msg contains "Stopping User Manager for UID 0" or
$msg contains "Stopped target Default" or
$msg contains "Stopped target Basic System" or
$msg contains "Stopped target Timers" or
$msg contains "Stopped target Paths" or
$msg contains "Stopped target Sockets" or
$msg contains "Closed D-Bus User Message Bus Socket" or
$msg contains "Reached target Shutdown" or $msg contains "Starting Exit the Session.." or
$msg contains "Started Daily Cleanup of User" or
$msg contains "Starting Create User" or
$msg contains "Finished Create Use" or
$msg contains "systemd-tmpfiles-clean.timer" or
$msg contains "systemd-tmpfiles-setup.service" or
$msg contains "Stopped Daily Cleanup of User"
$msg contains "Closed REST API socket for snapd user session agent"
$msg contains "Received SIGRTMIN+24 from PID " or
$msg contains "Stopped User Manager for UID 0" or
$msg contains "Started Session" or
$msg contains "Removed slice" or
$msg contains "Created slice" or
$msg contains "Startup finished in" or
$msg contains "Stopped target Main User Target." or
$msg contains "dbus.socket: Succeeded." or
$msg contains "systemd-exit.service: Succeeded." or
$msg contains "pipewire.socket: Succeeded." or
$msg contains "Closed Multimedia System." or
$msg contains "Finished Exit the Session." or
$msg contains "Listening on Multimedia System." or
$msg contains "Reached target Main User Target." or
$msg contains "user@0.service: Succeeded." or
$msg contains "Condition check resulted in Mark boot as successful after the user session has run 2 minutes being skipped." or
$msg contains "Reached target Exit the Session." or
$msg contains "session-"
) then stop
