<html>
<head>
<title>drew-serv.nm1.invadelabs.com</title>
</head>
<body>

<a href="https://drew-serv.nm1.invadelabs.com/nagios/">Nagios</a><br/>
<a href="https://drew-serv.nm1.invadelabs.com/nightscout/">NightScout</a><br/>
<a href="https://drew-serv.nm1.invadelabs.com/app/kibana/">Kibana</a><br/>

</body>
</html>
