[Desktop Entry]
Encoding=UTF-8
Name=program
GenericName=program
Comment=This is just a simple program.
Exec=/home/drew/dashboard-launch.sh
Icon=/usr/share/pixmaps/program.jpg
Terminal=false
Type=Application
Categories=
OnlyShowIn=XFCE;
